* {
    padding: 0;
    margin: 0;
    object-fit: cover;
}

.navbar-brand {
    font-size: 25px;
}

.hero {
    width: 100%;
    height: 100vh !important;
}

.font-fam {
    font-family: Calibri;
    font-size: 15px;
}

.btn-style {
    border: 2px solid #feb900;
    border-radius: 25px;
}

.border-bottom-style {
    border-top: 3px solid #feb900;
    width: 80px;
    margin: auto;
    padding: 10px 0px;
}

.btn-style:hover {
    background-color: #feb900;
}

.font-size {
    font-size: 60px;
}

.nav-item {
    padding: 0px 10px;
}

.nav-link {
    color: #ccc;
}

.nav-item:hover .nav-link {
    color: #fff;
}

.home-style {
    color: #fff !important;
    border-bottom: 3px solid #feb900;
}

.carousel {
    z-index: 20;
}

.navbar {
    z-index: 32;

}

.font {
    font-family: Calibri;
}

.col-6{
    z-index: 21;
}

.hero-text {
    top: 50px;
}

.carousel .carousel-item::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    animation-name: dropdown-move;
    animation-duration: 1s;
    width: 200px;
    /* background-color: red; */
}

@keyframes dropdown-move {
    from {
        margin-top: 20px;
    }

    to {
        margin-top: 0px;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: #dddddd4a;
    position: absolute;
    top: 300px;
    border-radius: 100%;
}

.carousel-control-prev {
    left: 30px;
}

.carousel-control-next {
    right: 30px;
}

.dropdown-item:hover {
    color: #feb900 !important;
}

.nav-item .sub-drop {
    left: 180px;

}

.card-img img {
    width: 100%;
    height: 800px;
}

.bg-style {
    background-color: #eee;
}

.bi-brightness-high {
    color: green;
    z-index: 100;
}

.card-icon {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.7s;
    cursor: pointer;
}

.icon-4 {
    width: 50px;
    height: 30px;
    margin-top: 10px;
    color: #feb900;

}

.card-icon:hover {
    background-color: #feb900;
}

.card-icon:hover .icon-4 {
    color: #fff;
}

.bg-hover:hover {
    color: #feb900;
    cursor: pointer;
}

.b-btm {
    border-bottom: 4px solid #ddd !important;
    width: 24.5%;
    margin-right: 5px;
}

.b-btm-active {
    border-bottom: 4px solid #feb900 !important;
}

.b-btm:hover .nav-link {
    color: #feb900;
}

.b-btm:focus .navlink {
    color: #feb900 !important;
    border-bottom: 4px solid #feb900 !important;
}

.active-bg {
    color: #feb900;

}

.text-line-custom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-line-custom .line-custom {
    width: 100%;
    width: 70px;
    height: 2px;
    background-color: #feb900;

}

.text-line-custom .line-custom:first-child {
    margin-right: 17px;
}

.text-line-custom .line-custom:last-child {
    margin-left: 17px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-6 .card .card-img {
    margin-left: 30px;
    left: -40px;

}

.col-6 .card .card-img img {
    width: 80px;
    height: 80px;
    border-radius: 6px;
}

.text-indent {
    text-indent: 1cm;
}

.card::before {
    content: '';
    width: 80px;
    height: 80px;
    background: url(../img/img/testimonials/testimonials-1.jpg);
    margin-left: -50px;
    margin-top: 30px;
    border-radius: 6px;

}

.card .card-body {
    margin-top: -80px;
}

footer .container-fluid {
    background-color: #333333;
}

.nav-category .nav-item .nav-link {
    color: #000;
    font-size: 20px;
    border-bottom: 4px solid rgba(128, 128, 128, 0.623);
    font-weight: bold;
}

.nav-category .nav-item .nav-link.active {
    color: #feb900;
    border-color: #feb900;

}

.swiper-pagination-bullet-active {
    background-color: #ffc107 !important;
    width: 11px !important;
    height: 11px !important;
}

.swiper-pagination-bullet {
    width: 11px !important;
    height: 11px !important;
}
